apiVersion: v1
kind: Pod
metadata:
  name: test-signed
  namespace: default
spec:
  containers:
  - name: alpine
    image: 127.0.0.1:5000/alpine:3.20.3
    command: ["sleep", "3600"]
  restartPolicy: Never
